.contact-section {
  min-height: 100vh;
  padding: 0 8vw;
  padding-top: 5%;
  padding-bottom: 20vh;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  height: min-content;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 30vh;
}
.contact-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 12px;
  // margin-top: 50px;
  width: max-content;

  transition: 0.1s all linear;
}
.lottie-container {
  min-width: 330px;
  min-height: 330px;
  width: 450px;
  height: 450px;
  position: relative;
}

.grid-span-col {
  grid-column: 1 / span 2;
}

@media (max-width: 960px) {
  .contact-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .lottie-container {
    width: 60vw;
    height: 60vw;
    min-height: initial;
    min-width: initial;
  }

  .contact-details {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .grid-span-col {
    grid-column: span 1;
  }

  .lottie-container {
    width: 75vw;
    height: 75vw;
    min-height: initial;
    min-width: initial;
  }
  .contact-details {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media (max-width: 300px) {
  .lottie-container {
    width: 80vw;
    height: 80vw;
  }
}
