.contact-section {
  height: 100vh;
  padding: 0 75px;
  margin-top: 5%;
  // display: flex;
  // justify-content: space-between;

  h1 {
    // width: 50%;
    padding-top: 20px;
  }
}

.contact-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  width: min-content;
}

.lottie-container {
  width: 500px;
  height: 500px;
  position: relative;
}
