.fill-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.lottie-player {
  // width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.text-404 {
  position: absolute;
  top: 70%;
  min-width: 70%;
  // padding: 20px;
  color: var(--color-text-secondary);
  left: 50%;
  transform: translate(-50%, -50%);
}
