.whyus-section {
  padding: 0 8vw;
  margin-bottom: 20vh;
  width: 100%;
  overflow-y: hidden;
  .next-link {
    text-decoration: underline;
    font-weight: 800;
  }

  .caption {
    text-align: center;
  }
}

.statement-block {
  margin: 30vh 0;
  height: 80vh;
  display: flex;
  width: 100%;
  align-items: center;

  position: relative;
  h1 {
    max-width: 80vw;
    color: var(--color-text-fourth);
  }

  @media (min-width: 1300px) {
    h1 {
      padding-right: 150px;
    }
  }
}
.list-container {
  margin-top: 3vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  // margin: 0 auto;
}
// why us page

.list-item {
  border-top: 1px solid var(--color-border-secondary);
  padding: 60px 40px;
  min-height: 28vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;

  h3 {
    max-width: 450px;
    word-wrap: break-word;
  }

  .list-description {
    max-width: 300px;
    color: var(--color-text-secondary);
    line-height: 110%;
  }

  &:last-child {
    border-bottom: 1px solid var(--color-border-secondary);
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 60px 40px;

    h3 {
      max-width: initial;
    }
    .list-description {
      max-width: initial;
    }
  }

  @media (max-width: 600px) {
    padding: 7vh 5vw;
    gap: 15px;

    .list-number {
      top: 8%;
      left: 0%;
    }
  }
}

.list-number {
  position: absolute;
  top: 20%;
  left: 0px;
  font-size: var(--font-regular);
  color: var(--color-text-third);
  font-weight: 400;
}
