.flex-gap-5 {
  gap: 5px;
}
.flex-gap-10 {
  gap: 10px;
}

.flex-y-center {
  display: flex;
  align-items: center;
}

.next-link {
  text-decoration: none;
  color: var(--color-text-secondary);

  transition: all 0.1s linear;
  &:hover {
    color: var(--color-text-primary);
  }
}

.margin-20-vertical {
  margin: 20px 0;
}

.max-width-800 {
  max-width: 800px;
}

.hover-text-primary {
  transition: var(--transition-normal);
  &:hover {
    color: var(--color-text-primary);
  }
}

.weak {
  color: var(--color-text-fourth);
}
.strong {
  background: -webkit-linear-gradient(right, #6f2cff -8.52%, #974afa 43.96%, #4b70f3 108.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green {
  color: rgb(44, 178, 44);
}
