:root,
[data-theme="dark"] {
  --color-text-primary: #a6a6a6;
  --color-text-secondary: #5c5c5c;
  --color-text-third: #212121;
  --color-text-highlight: #e1e1e1;

  --color-gradient-purple: linear-gradient(
    90.05deg,
    #6f2cff -8.52%,
    #974afa 43.96%,
    #4b70f3 108.66%
  );

  --color-border-primary: #5c5c5c;
  --color-border-secondary: #212121;
  --color-border-purple: #9847ff;

  --color-background-secondary: #0e0e0e;
}
