.button {
  background-color: transparent;
  border-width: 1px;
  border-color: var(--color-text-primary);
  border-style: solid;
  padding: none;
  width: 9em;
  height: 3.3em;
  color: var(--color-text-primary);
  font-size: (--font-regular);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  &:hover {
    transition: 0.1s ease-in-out;
    transform: translateY(-2.5px);
    color: var(--color-border-purple);
    border-color: var(--color-border-purple);
  }

  @media (max-width: 600px) {
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
  }
}

.colorful-button {
  background-image: var(--color-gradient-purple);
  border-radius: var(--border-radius);
  padding: var(--padding-button);
  color: var(--color-text-white);
  font-family: var(--josefin-sans);
  background-size: 200% auto;
  font-size: var(--font-labels);
  font-weight: 800;

  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  transition: var(--transition-slow);

  &:hover {
    background-position: right top;
  }
}
