.nav {
    display: grid;
    width: 99vw;
    grid-template-columns: 100px auto 100px;
    align-items: center;
    background-color: var(--color-teritery);
    padding-left: 35px;
    padding-right: 49px;
    height: 5em;
    border-bottom: 1px solid #212121;
    box-sizing: border-box;
    transition: var(--transition-fast);
}

.nav img {
    height: 5em;
}

ul {
    padding-inline-start: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul li {
    display: inline-block;
    padding: 0 25px 0 25px;
    padding-inline-start: 0;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    &:hover {
        color: var(--color-text-primary);
    }
}

.contact {
    display: flex;
    justify-content: flex-end;
}

.contact ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
}
.contact ul li {
    display: inline-block;
}

.mobileNav {
    display: none;
}

@media (max-width: 600px) {
    .nav {
        display: none;
    }
    .mobileNav {
        display: flex;
        align-items: center;
        height: 7vh;
        // background: var(--color-gradient-purple);
        background: var(--color-background);
        transition: var(--transition-fast);
    }
    .mobileLogo {
        margin-left: 2em;
    }
    .mobileNav .hamburgerIcon {
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
    .navItems li a {
        color: rgb(230, 230, 230);
        text-decoration: none;
        font-size: 3rem;
    }
    .navItems li a:hover {
        color: white;
    }

    .navItems {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: fixed;
        // position: absolute;
        // top: 6vh;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: var(--color-background);
        padding: 10%;
        line-height: 100px;
        padding-bottom: 1em;
        transition: var(--transition-normal);
    }
}
// .logoImg {
//     height: auto;
// }

// .nav li.active {
//     border-bottom: solid 2px white;

// }
