.nav {
  display: grid;
  // width: 99vw;
  grid-template-columns: 100px auto 100px;
  align-items: center;
  padding-left: 35px;
  padding-right: 49px;
  height: 5em;
  border-bottom: 1px solid #212121;

  a {
    text-decoration: none;
    color: var(--color-text-navlink);
    &:hover {
      color: var(--color-text-highlight);
      font-weight: 800;
    }
  }
}

.nav img {
  height: 5em;
}

ul {
  padding-inline-start: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul li {
  display: inline-block;
  padding: 0 25px 0 25px;
  padding-inline-start: 0;
  position: relative;
}

.hamburgerIcon {
  color: purple;
}
.mobileNav {
  display: none;

  border-bottom: 1px solid var(--color-border-secondary);
}

.navItems {
  display: none;
}
@media (max-width: 600px) {
  .nav {
    display: none;
  }
  .mobileNav {
    display: flex;
    align-items: center;
    height: 7vh;
    padding: 10px 0;
    // background: var(--color-gradient-purple);
    transition: var(--transition-fast);
  }
  .mobileLogo {
    margin-left: 2em;
  }

  .hamburgerIcon {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }
  .navItems {
    display: flex;
    color: var(--color-text-navlink);
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    li {
      padding: 15px 30px;
      border-bottom: 1px solid var(--color-border-secondary);
      font-size: var(--font-big);
      width: 100vw;
    }
    // position: absolute;
    // top: 6vh;
    transition: var(--transition-normal);

    .active {
      margin: 5px 0;
    }
  }
}
// .logoImg {
//     height: auto;
// }

// .nav li.active {
//     border-bottom: solid 2px white;

// }
