.typewriter {
  grid-row: 0 / 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 4em;
  margin-top: 3em;
}

.typewriter1 {
  grid-row: 0 / 1;
  display: flex;
  align-items: flex-end;
}
.typewriter2 {
  grid-row: 2 / 3;
}
