.typewriter {
  grid-row: 0 / 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: var(--font-big);
  margin-top: 3em;
  color: white;
  user-select: none;
}

.typewriter1 {
  grid-row: 0 / 1;
  display: flex;
  align-items: flex-end;
  user-select: none;
}
.typewriter2 {
  grid-row: 2 / 3;
  user-select: none;
}
