@use "./abstracts/reset";
@use "./abstracts/utils";
@use "./abstracts/variables";

@use "./components/navbar";
@use "./components/footer";
@use "./components/buttons";
@use "./components/textbox";
@use "./components/typewriter";
@use "./components/bigHeader";

@use "./pages/services";
@use "./pages/error404";
@use "./pages/faq";
@use "./pages/contact";

html,
body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  // -webkit-box-shadow: 0 0 0 30px #000000 inset !important;
  -webkit-text-fill-color: var(--color-text-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
}

* {
  box-sizing: border-box;
  transition: var(--transition-fast);
}

label {
  color: var(--color-text-primary);
  display: block;
  font-size: var(--font-labels);
  padding-left: 2px;
}
h1 {
  font-size: var(--font-large);
  font-weight: 800;
  width: 100%;
  margin: 10px 0;
  line-height: 115%;
  margin: 7em 0 8em 7em;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 5em;
  font-size: 1em;
}

.typewriter {
  grid-row: 0 / 1;
  display: grid;
  grid-template-rows: 1fr 0.3fr;
  font-size: 4em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.typewriter1 {
  grid-row: 0 / 1;
  display: flex;
  align-items: flex-end;
}
.typewriter2 {
  grid-row: 2 / 3;
}

.learnButton {
  width: 20px;
  height: 16px;
  grid-column: 0 / 1;
  grid-row: 2 / 3;
  background-color: black;
  color: white;
  font-size: 18px;
  border-color: white;
  border-width: 1px;
  cursor: pointer;
  border-style: solid;
  border-radius: 100px;
}
// border-radius: 4px;
//     background: #256ce1;
//     padding: 10px 22px;
//     color: #fff;
//     border: none;
//     outline: none;
//     cursor: pointer;
//     transition: all 0.2s ease-in-out;
//     text-decoration: none;

.learnButton:hover {
  background-color: rgb(184, 174, 163);
  transition: 0.5s;
}
