@use "./abstracts/reset";
@use "./abstracts/utils";
@use "./abstracts/variables";

@use "./components/navbar";
@use "./components/footer";
@use "./components/typewriter";
@use "./components/buttons";
@use "./components/textbox";
@use "./components/caption";

@use "./pages/services";
@use "./pages/error404";
@use "./pages/contact";
@use "./pages/whyus";
@use "./pages/faq";

html,
body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  // -webkit-box-shadow: 0 0 0 30px #000000 inset !important;
  -webkit-text-fill-color: var(--color-text-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  font-family: var(--josefin-sans);
}

* {
  box-sizing: border-box;
  transition: var(--transition-normal);
}

label {
  color: var(--color-text-primary);
  display: block;
  font-size: var(--font-labels);
  padding-left: 2px;
}
h1 {
  font-size: var(--font-large);
  font-weight: 800;
  width: 100%;
  margin: 10px 0;
  line-height: 115%;
}
h2 {
  font-weight: 800;
  color: var(--color-text-third);
  font-size: var(--font-big);
  margin: 20px 0;
  width: fit-content;
  &:hover {
    color: var(--color-text-primary);
  }
}
h3 {
  font-size: var(--font-list);
  color: var(--color-text-primary);
  line-height: 120%;
}

.main {
  user-select: none;
  animation: 2s fadeIn 1;
}

.container {
  background-color: black;

  canvas {
    animation: 3s fadeIn 1;
    width: 100vw;
    height: 200vh;
    cursor: grab;
  }
}
.canvas-html {
  cursor: grab;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.canvas-link {
  position: absolute;
  top: 103vh;
  width: 220px;
}

// moved typewriter to typerwriter.scss
