.container {
  padding: 0 2rem;
  color: white;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
}

.typewriter {
  display: grid;
  transform: translateY(-1.5em);
  grid-template-rows: 1fr 1fr;
  font-size: 4.5em;
  margin-left: 1em;
}

.typewriter1 {
  grid-row: 0 / 1;
}
.typewriter2 {
  grid-row: 2 / 3;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}
